// -----------------------------------------------------------------------------
// Colors config
// -----------------------------------------------------------------------------

$black: #000000;
$white: #FFFFFF;

$purple-100: #1E0044;