//------------------------------------------------------------------------------
//- The Header
//------------------------------------------------------------------------------

header
  .container
    .top
      a(href="/").logo
        +uiIcon('logo')
        span ФИНСГРАМ
        p asfd
      #burger
        .icon
  #mobile-overlay
  